<div class="card">
    <!--Tabla de telefonos-->
    <p-table [value]="telefonos" [tableStyle]="{ 'width': '95%' }" 
        selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th>Teléfono</th>
                <th>Función</th>
                <th>Consumo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-telefono>
            <tr style="text-align: center;">
                <td>{{ telefono.telefono }}</td>
                <td>{{ telefono.descripc_tel }}</td>
                <td><p-button label="Ver consumo" severity="warning" size="small" 
                    (click)="getConsumosTelefono(telefono)"
                ></p-button></td>
            </tr>
        </ng-template>
    </p-table>

    <!--Pulsas boton de ver consumo cuando ya hay consumos-->
    <div *ngIf="displayChart==true" class="card">
        <p-chart id=chartConsumo type="line" [data]="data" [options]="options"></p-chart>

        <p-chart id=chartEstadisticas type="bar" [data]="basicData" [options]="basicOptions"></p-chart>

        <!--Mostrar tabla de consumos-->
        <p-table id=tablaConsumos [value]="consumos" [tableStyle]="{ 'width': '100%'}"
            selectionMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Consumo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-consumo>
                <tr style="text-align: center;">
                    <td>{{ convertirFormatoFecha(consumo.fecha) }}</td>
                    <td>{{ consumo.consumo }}</td>
                </tr>
            </ng-template>
        </p-table>


    <p-button label="Exportar a pdf" 
        severity="danger" size="small" icon="pi pi-file-pdf"
        (onClick) = generarPDF(true,telefonoSelected.telefono)
    ></p-button>
    <p-toast></p-toast>
    <p-button label="Enviar pdf al email del cliente" 
        severity="secondary" size="small" icon="pi pi-share-alt"
        (onClick)=enviarConsumosCorreo(this.clienteSelected,telefonoSelected.telefono)
    ></p-button>
    </div>
</div>
<br>
<br>
<br>
<br>
