<div class="card">
    <p-table [value]="telefonos" [tableStyle]="{ 'width': '100%' }" 
        selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th>Teléfono</th>
                <th>Función</th>
                <th>Consumo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-telefono>
            <tr style="text-align: center;">
                <td>{{ telefono.telefono }}</td>
                <td>{{ telefono.descripc_tel }}</td>
                <td><p-button label="Ver consumo" severity="warning" size="small" 
                    (click)="getConsumosTelefono(telefono.id_tel, telefono.id_cli)"
                ></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    
    <h4>Nuevo teléfono:</h4>

    <form>
        <div class="p-inputgroup" for="telefono">
            <span class="p-inputgroup-addon">
                <i class="pi pi-phone"></i>
            </span>
            <input type="text" pInputText id="telefono" formControlName="telefono" placeholder="Número teléfono" />
            <small 
                class="p-error block"
                *ngIf="
                    telefonoForm.controls['telefono'].invalid && 
                    telefonoForm.controls['telefono'].dirty
                "
                >Este campo es obligatorio</small>
        </div>
        <div class="p-inputgroup" for="descripc_tel">
            <span class="p-inputgroup-addon">
                <i class="pi pi-info-circle"></i>
            </span>
            <input type="text" pInputText id="descripc_tel" formControlName="descripc_tel" placeholder="Descripción (p.ej. móvil, profesional)" />
        </div>
    </form>

    <p-button 
        (click)= "addTelefono()"     
        icon="pi pi-plus" [text]="true" [rounded]="true" 
        [disabled]="telefonoForm.invalid" 
    ></p-button>

    <div class="card" [hidden]="ocultarGrafica">
        <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
    
    <div class="card" [hidden]="ocultarGrafica">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>

</div>