<div class="card">
    <p-table [value]="telefonos" [tableStyle]="{ 'width': '95%' }" 
        selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th>Teléfono</th>
                <th>Función</th>
                <th>Consumo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-telefono>
            <tr style="text-align: center;">
                <td>{{ telefono.telefono }}</td>
                <td>{{ telefono.descripc_tel }}</td>
                <td><p-button label="Ver consumo" severity="warning" size="small" 
                    (click)="getConsumosTelefono(telefono.id_tel, telefono.id_cli)"
                ></p-button></td>
            </tr>
        </ng-template>
    </p-table>

    <!--Parte de añadir telefono nuevo-->
    <p-inplace>
        <ng-template pTemplate="display" >
            <br>
            <span >Añadir nueva línea</span>
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="telefonoForm">
                <div class="p-inputgroup" for="telefono">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-phone"></i>
                    </span>
                    <input type="text" pInputText id="telefono" formControlName="telefono" placeholder="Número teléfono" />
                    <small 
                        class="p-error block"
                        *ngIf="
                            telefonoForm.controls['telefono'].invalid && 
                            telefonoForm.controls['telefono'].dirty
                        "
                        >Este campo es obligatorio</small>
                </div>
                <div class="p-inputgroup" for="descripc_tel">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-info-circle"></i>
                    </span>
                    <input type="text" pInputText id="descripc_tel" formControlName="descripc_tel" placeholder="Descripción (p.ej. móvil, profesional)" />
                </div>
            </form>
        
            <p-button 
                (click)= "addTelefono()"     
                icon="pi pi-plus" [text]="true" [rounded]="true" 
                [disabled]="telefonoForm.invalid" 
            ></p-button>
        </ng-template>
    </p-inplace>    

    <!--Pulsas boton de ver consumo cuando ya hay consumos-->
    <div *ngIf="displayChart" class="card">
        <p-chart id=chartConsumo type="line" [data]="data" [options]="options"></p-chart>

        <p-chart id=chartEstadisticas type="bar" [data]="basicData" [options]="basicOptions"></p-chart>

        <!--Mostrar tabla de consumos-->
        <p-inplace>
            <ng-template pTemplate="display">
                <span>Datos detallados de consumo</span>
            </ng-template>
            <ng-template pTemplate="content">
                <span>
                    <p-table id=tablaConsumos [value]="consumos" [tableStyle]="{ 'width': '100%'}"
                        selectionMode="single">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Fecha</th>
                                <th>Consumo</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-consumo>
                            <tr style="text-align: center;">
                                <td>{{ convertirFormatoFecha(consumo.fecha) }}</td>
                                <td>{{ consumo.consumo }}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <!--Parte de añadir consumos-->
                    <p-inplace>
                        <ng-template pTemplate="display">
                            <br>
                            <span>Añadir consumo nuevo</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <span>
                                <div [hidden]="ocultarGrafica"> 
                                    <h5>Añadir datos consumo:</h5>
                            
                                    <div class="p-inputgroup" for="consumo">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-bolt"></i>
                                        </span>
                                        <input type="number" [(ngModel)]="nuevo_consumo.consumo" placeholder="Consumo" />
                                        <small 
                                            class="p-error block"
                                            *ngIf="
                                                consumoForm.controls['consumo'].invalid && 
                                                consumoForm.controls['consumo'].dirty
                                            "
                                        >Este campo es obligatorio</small>
                                    </div>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-calendar"></i>
                                        </span>
                                        <p-calendar [(ngModel)]="inputNuevaFecha" type="date" view="month" dateFormat="mm/yy" [readonlyInput]="true"></p-calendar>
                                    </div>
                            
                                    <p-button 
                                        (click) = addConsumo(inputNuevaFecha,telefonoSelected)
                                        icon="pi pi-plus" [text]="true" [rounded]="true" 
                                        [disabled]="consumoForm.invalid" 
                                    ></p-button>
                                </div>
                            </span>
                        </ng-template>
                    </p-inplace>
                </span>
                <br>
                <p-button label="Exportar a pdf" 
                    severity="danger" size="small" icon="pi pi-file-pdf"
                    (onClick) = generarPDF(true,telefonoSelected)
                ></p-button>
                <p-button label="Enviar pdf al email del cliente" 
                    severity="secondary" size="small" icon="pi pi-share-alt"
                    (onClick)=enviarConsumosCorreo(this.clienteSelected,telefonoSelected)
                ></p-button>
            </ng-template>
        </p-inplace>
    </div>
    <!--Pulsas boton de ver consumo cuando NO hay consumos-->
    <div *ngIf="aun_vacio" class="card">
        <div> 
            <h4>Añadir datos consumo:</h4>
    
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-bolt"></i>
                </span>
                <input type="number" [(ngModel)]="nuevo_consumo.consumo" placeholder="Consumo" />
                <small 
                    class="p-error block"
                    *ngIf="
                        consumoForm.controls['consumo'].invalid && 
                        consumoForm.controls['consumo'].dirty
                    "
                >Este campo es obligatorio</small>
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-calendar"></i>
                </span>
                <p-calendar [(ngModel)]="inputNuevaFecha" type="date" view="month" dateFormat="mm/yy" [readonlyInput]="true"></p-calendar>
            </div>
    
            <p-button 
                (click) = addConsumo(inputNuevaFecha,telefonoSelected)
                icon="pi pi-plus" [text]="true" [rounded]="true" 
                [disabled]="consumoForm.invalid" 
            ></p-button>
        </div>
    </div>
</div>