.custom-form {
  max-width: 310px; /* Establece el ancho m치ximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 15px; /* A침ade un relleno interno para darle grosor al formulario */
}

.form-group {
  margin-bottom: 15px; /* Ajusta la separaci칩n entre grupos de campos */
}

label {
  display: block;
  margin-bottom: 5px; /* Ajusta la separaci칩n entre etiqueta y campo */
}

.error-message {
  color: red;
  margin-top: 5px;
}
