<div class="flex justify-content-between">
    <h2>Clientes</h2>
    <p-button label="Añadir cliente" (click)="showAddModal()"></p-button>
</div>

<div class="card">
    <p-table 
    [value]="clientes" [tableStyle]="{ 'min-width': '50rem' }" 
    [paginator]="true" [rows]="8">
        <ng-template pTemplate="header">
            <tr>
                <th>Id.</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo electrónico</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr style="text-align: center;">
                <td>{{ cliente.id_cli }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.email }}</td>
                <td><p-button label="Ver teléfonos" size="small" 
                    (click)="showTelefonos(cliente.id_cli)"
                ></p-button></td>
                <td><p-button icon="pi pi-trash" severity="danger" [text]="true"
                    (click)="deleteClient(cliente.id_cli)"
                ></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-add-edit-cliente 
    [displayAddModal]="displayAddModal"
    (clickClose) = "hideAddModal($event)"
></app-add-edit-cliente>

<p-dialog 
    header="" 
    [(visible)]="displayTelefonos" 
    [modal]="true" 
    [style]="{ width: '85%' }" 
    [draggable]="false" 
    [resizable]="false">
    <p class="m-0">
        <app-telefono *ngIf="displayTelefonos" [id_cli]="idSelected"></app-telefono>
    </p>
    <ng-template pTemplate="footer">
        <p-button (click)="displayTelefonos = false" label="Volver" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
